.quizname,.secretkey,.quizstate{
    width: 75%;
    background: #BCBCBC;
    color: blue;
    border: none;
    padding: 15px !important;
    outline: none;
}
.description,.quizmin{
    width: 75%;
    background: #BCBCBC;
    color: blue;
    border: none;
    padding: 15px !important;
    outline: none;
}
.myquestion,.myoption{
    outline: none;
    border: none;
    background: #BCBCBC;
    color: blue;
    padding: 15px;
}
.addicon{
    width: 100px;
    text-align: center;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}
.secretkeyinput{
    padding: 10px;
    outline: none;
    border: 2px solid purple;
    border-radius: 5px;
    margin-bottom: 20px;
}
.optionbtn{
    /* background:none; */
    color:#5f6064;
    border:1px solid purple;
    border-Radius:5px
}